# Storyblok Configuration
NEXT_PUBLIC_STORYBLOK_API_TOKEN=your_storyblok_api_token_here

# Anytrack
NEXT_PUBLIC_ANYTRACK_ID=your_anytrack_tracking_id_here

# Optional: Anytrack Debug Mode
# NEXT_PUBLIC_ANYTRACK_DEBUG=true

